.aboutSection {
  min-height: 100vh;
  padding: clamp(1.5rem, 3vw, 4rem);
}

@media (prefers-reduced-motion: no-preference) {
  .about {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: rgba(31, 61, 59, 0.11);
    border-radius: 20px;

    opacity: 0;
    left: 50px;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
      left: 0;
    }
  }
}

.info {
  padding: 1rem;
}

.infoAbout,
.infoSkills {
  display: flex;
  gap: 0.5rem;
}

.infoAbout h2,
.infoAbout h3,
.infoAbout p,
.infoSkills h2,
.infoSkills h3,
.infoSkills p {
  color: var(--primaryColor);
  margin: 2rem 0;
}

.infoAbout h3,
.infoSkills h3 {
  font-size: clamp(1rem, 2rem, 2vw);
  font-weight: 300;
  letter-spacing: 0.5rem;
  writing-mode: vertical-lr;

  background-image: var(--gradient);
  color: transparent;
  background-clip: text;

  opacity: 0.2;
}

.infoAbout h2,
.infoSkills h2 {
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1.25rem;

  font-size: 1.5rem;
}

.infoAbout p {
  font-weight: 100;
  line-height: 1.5rem;

  font-size: 1rem;
  opacity: 0.9;
}

.infoSkills .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
}

.skills svg {
  width: 100%;
  height: 1.5rem;
}

.skills li {
  color: var(--primaryColor);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}
.about img {
  height: 100px;
  background-color: red;
  object-fit: cover;

  border-radius: 0px 0px 20px 20px;
  content: var(--aboutImg);
}

@media screen and (min-width: 768px) {
  .aboutSection {
    display: flex;
    justify-content: center;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 2fr;

    width: 900px;
  }

  .about img {
    width: 300px;
    height: 750px;
    border-radius: 0;
    border-radius: 20px 0 0 20px;
    order: -1;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
  }

  .infoAbout p {
    max-width: 300px;
  }
  .infoAbout h2,
  .infoSkills h2 {
    line-height: 2rem;
    max-width: 300px;
    font-size: clamp(1rem, 2rem, 3rem);
  }
}
@media screen and (min-width: 1024px) {
}
