/* wrapper */
.landingPage {
  display: flex;

  flex-direction: column;
  /* provides auto centering for title page */
  padding: clamp(1.5rem, 3vw, 4rem);
  background-color: rgb(207, 212, 212);

  background-image: var(--landingBg);

  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
.landingBlur {
  padding: 10rem;
  padding: clamp(1.5rem, 3vw, 4rem);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: var(--blurColor);
}

.titleContainer {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 450px;
}

.headingContainer p {
  color: var(--primaryColor);
  font-size: 1.2rem;
  font-weight: 100;
}

.descriptor {
  color: var(--descriptor);
  margin-top: 1rem;
  font-size: clamp(1rem, 1rem, 1.5vw);
  letter-spacing: 0.25rem;
  writing-mode: vertical-lr;
}

h1 {
  font-size: clamp(2.5rem, 4rem, 3vw);
  color: #fffdf6;
}

h1 .cursor {
  color: #fffdf6;
}

h1 span:nth-of-type(1) {
  max-width: 100%;
}

.headingButtons {
  display: flex;
  flex-direction: row;
  gap: clamp(0.25rem, 1vw, 1.5rem);
}

.headingButtons button {
  font-size: clamp(0.6rem, 1vw, 2vw);

  color: #fffdf6;
  border: 1px solid #fffdf6;

  padding: clamp(0.25rem, 1vw, 0.5rem) clamp(1rem, 2vw, 2rem);
  border-radius: 20px;
  background-color: transparent;
}

.headingButtons a:nth-of-type(3) button {
  padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.6rem, 2vw, 1rem);
  background: var(--projectHighlight);

  border: 1px solid #222626;
}

.headingButtons button:hover {
  cursor: pointer;
}
