.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contactName,
.contactEmail,
.contactMessage {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 5px;
  padding: 1rem 0 1.5rem 0.5rem;
  background-color: transparent;
}
.contactName,
.contactEmail,
.contactMessage,
.contactForm input[type="submit"] {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contactForm input[type="submit"] {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}

.sent {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  color: var(--secondaryColor);
  border: 1px solid;
  border-radius: 5px;
  max-width: fit-content;
  background-color: var(--primaryColor);
  animation: fadeinout 3s linear forwards;
}

.contactForm input[type="submit"]:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-color: 1px solid var(--secondaryColor);
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .contactForm {
    margin-right: 0;
  }
}
