.container {
  position: absolute;
  top: 25px;
  right: 25px;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-image: var(--mode);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  filter: var(--switch);

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
}
