.overlayBg {
  position: absolute;
  background-color: rgba(10, 11, 11, 0.8);
  border-radius: 20px;
  color: #f9f7ef;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
  padding: 1rem;

  z-index: 1;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  width: 100%;
}
.overlayBg h4 {
  font-size: clamp(1.5rem, 2rem, 2vw);
}

.overlayBg p {
  font-weight: 200;
  color: #f9f7ef;
  opacity: 0.8;
  margin: 0;
  text-align: center;
}

.overlayBg span {
  font-weight: 200;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--secondaryColor);
}
.overlayBtns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.btn {
  font-weight: 600;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  border: 0;

  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 var(--offColor);
}
